{% extends "base.twig.html" %}

{% block content %}

    <div class="container">
  
        <div class="hero-unit">
            <h1>hipintegers</h1>
            <br />
            <p>We proudly source integers from artisanal integer foundries <a href="http://brooklynintegers.com/">Brooklyn Integers</a> and <a href="http://www.missionintegers.com/">Mission Integers</a> via bike courier and combine them to create a unique integer experience by rendering in <a href="http://www.fontbureau.com/NHG/">Neue Haas Grotesk</a> on top of sustainable wood. Then we take an Instagram photo of it and apply a filter for a retro film-camera look.</p>
            <p><a class="btn btn-primary btn-large" href="/dispatch">create</a></p>

            <footer class="footer">
                <p class="pull-right"><a href="https://github.com/bertrandom/hipintegers">source code on github</a> - Created by <a href="http://thatsaspicymeatball.com">Bertrand Fan</a> - <a href="https://twitter.com/intent/follow?screen_name=bertrandom">@bertrandom</a></p>
            </footer>  

        </div>
  
  
    </div> <!-- /container -->

{% endblock %}