{% extends "base.twig.html" %}

{% block stylesheets %}

    {{ parent() }}
    <link href="/css/iphone.css" rel="stylesheet">
    <style>
    
        body {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    
    </style>

{% endblock %}

{% block content %}

    <div class="container">
  
      <div class="container-number">
        
            <div>
                <img id="number" style="border: 10px black solid;" />
            </div>
      
            <div class='iphone' id="iphone" style="top:1000px; left: -9999px;">
            <div class='steel_band'>
              <div class='mute_rocker'></div>
              <div class='volume up'></div>
              <div class='volume down'></div>
              <div class='sleep_wake'></div>
              <div class='plastic_band'>
                <div class='glass_face'>
                  <div class='camera'></div>
                  <div class='speaker'></div>
                  <div class='home_button'></div>
                  <div class='screen'>
                      <div>
                          <img id="photo" style="z-index: 1; position: absolute; top: 72px; left: 5px; width: 320px; height: 320px; display: none;" />
                          <img id="instagram" src="/images/instagram.png" style="z-index: 2; position: absolute; top: 0px; left: 0px;" />
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>          

          <p id="start_over" style="display: none"><a class="btn btn-primary btn-large" href="/">start over</a></p>
      
      </div>

    </div> <!-- /container -->

{% endblock %}

{% block javascript %}

    <script>

        var image_original_url = '/image/get/{{ hipinteger }}';
        var image_filtered_url = '/filter/get/{{ hipinteger }}';

        $(document).ready(function(){
        
            var image_original = new Image();
            $(image_original).bind('load', function() {

                $('#number').attr('src', image_original_url);
                $('#photo').attr('src', image_original_url);
                
                var image_filtered_dummy = new Image();
                image_filtered_dummy.src = image_filtered_url;                
            
                $('#iphone').css('left', '0px');

                $('#iphone').animate({
                    top: '-=1650',
                }, 1000, function() {

                    $('#photo').show();

                    setTimeout(function() {
                        
                        $('#instagram').attr('src', '/images/instagram2.png');

                        setTimeout(function() {

                            var image_filtered = new Image();
                            $(image_filtered).bind('load', function() {

                                $('#photo').attr('src', image_filtered_url);

                                setTimeout(function() {

                                    $('#instagram').hide();

                                    setTimeout(function() {

                                        $('#iphone').animate({
                                            top: '+=1650',
                                        }, 1000, function() {
                                            $('#number').attr('src', '/filter/get/{{ hipinteger }}');
                                            $('#iphone').hide();
                                            $('#start_over').fadeIn();
                                        });

                                    }, 1000);

                                }, 2000);

                            });
                            image_filtered.src = image_filtered_url;
                            
                        }, 500);

                    }, 1000);

                });

            });
            image_original.src = image_original_url;            
        
        });

    </script>

{% endblock %}